$color-white: #ffffff;
$color-blue-dark: #216e6e;
$color-blue-light: #299c94;
$color-green: #23d9b2;
$color-yellow: #f4e869;
$font-family: 'Inconsolata';
$input-font-size: 16px;
$button-font-size: 14px;
$list-font-size: 16px;
