doctype html
head
  include includes/meta
body
  div(class='container')
    form(action="#" class='form')
      input( class='form form__input' type="text" placeholder='Enter name...')
      button(class='form form__button')
        |Add
    ul(class='list')
  script(src='js/main.min.js')
